<div class="container">
  <h1>{{ this.projectName() }}</h1>
  <div class="btn-group">
    <button
      [routerLink]="['/projects', projectId()]"
      type="button"
      class="btn btn-outline-secondary"
    >
      Edit
    </button>
    <button [disabled]="loading()" (click)="restart()" type="button" class="btn btn-outline-danger">
      Reset
    </button>
  </div>
  <br />
  <div style="height: 400px">
    <div class="container-sm h-100 d-inline-block border border-5 border-danger bg-secondary"></div>
  </div>
  @if (this.textBox() != null) {
    <div class="container" (click)="progressTextbox(this.textBox()!)">
      @if (this.textBoxTitle().length > 0) {
        <h3>{{ this.textBoxTitle() }}</h3>
      }
      <div class="container border">
        @if (this.textBoxContentCount() > 0) {
          <p>{{ this.textBoxOutput() }}</p>
        }
      </div>
    </div>
  }
</div>
