<div class="container">
  <h1>{{ this.projectName() }}</h1>
  <div class="btn-group">
    <button
      [routerLink]="['/projects', projectId()]"
      type="button"
      class="btn btn-outline-secondary"
    >
      Edit
    </button>
    <button [disabled]="loading()" (click)="restart()" type="button" class="btn btn-outline-danger">
      Reset
    </button>
  </div>
  <br />
  <div style="height: 500px">
    <div class="container-sm h-100 d-inline-block border border-5 border-danger bg-secondary">
      @if (this.currentAction() !== null) {
        @switch (this.currentAction()?.type) {
          @case ('EnableTextbox') {
            <div class="d-flex flex-column justify-content-end">
              <div class="container border bottom-100">
                <h2>{{ this.currentComponent()?.textBox?.title }}</h2>
                @if (this.currentComponent()?.textBox?.content != null) {
                  @if (this.currentComponent()?.textBox!.content!.length > 0) {
                    <p>{{ this.currentComponent()?.textBox!.content[0] }}</p>
                  }
                }
              </div>
            </div>
          }
          @case ('EnableChoiceMenu') {
            EnableChoiceMenu
          }
        }
      }
    </div>
  </div>
</div>
