<div class="container-fluid">
  @if (error()) {
    <div class="alert danger-alert">{{ error() }}</div>
  }
  <div class="container-sm border p-3">
    <div class="container">
      <h1>Editor: {{ this.project()?.title }}</h1>
      <div class="btn-group">
        <button [routerLink]="['/play', projectId()]" type="button" class="btn btn-primary">
          Play
        </button>
        <button [disabled]="loading()" (click)="refresh()" type="button" class="btn btn-secondary">
          Refresh
        </button>
        <button type="button" class="btn btn-secondary">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
      </div>
    </div>
    <ul class="nav nav-tabs">
      <li class="nav-item">
        <a class="nav-link active" aria-current="page"> {{ this.scenes()[0].title }} </a>
      </li>
      @for (scene of this.scenes(); track $index) {
        @if (!$first) {
          <li class="nav-item">
            <a class="nav-link"> {{ scene.title }} </a>
          </li>
        }
      }
      <li class="nav-item">
        <a class="nav-link">+</a>
      </li>
    </ul>
    <div class="container-fluid">
      <h1>Timeline</h1>
      <div class="dropdown">
        <button
          type="button"
          class="btn btn-secondary dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          Add Action
        </button>
        <ul class="dropdown-menu">
          <li><a class="dropdown-item" href="#">Enable sprite</a></li>
          <li><a class="dropdown-item" href="#">Disable sprite</a></li>
          <li><a class="dropdown-item" href="#">Enable textbox</a></li>
          <li><a class="dropdown-item" href="#">Disable textbox</a></li>
          <li><a class="dropdown-item" href="#">Enable choice menu</a></li>
          <li><a class="dropdown-item" href="#">Disable choice menu</a></li>
        </ul>
      </div>
    </div>
    <div class="container pt-3">
      <button class="btn btn-secondary">Variable</button>
      <button class="btn btn-secondary">Rename</button>
      <button class="btn btn-danger">Delete</button>
    </div>
  </div>
  <div class="container text-center"></div>
</div>
